<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
    <div class="signatures site-title">
        <a href="{{ .Site.LanguagePrefix }}/">{{ or .Site.Params.headTitle .Site.Author.name }}</a>
    </div>
</header>
<div class="row end-xs">
    {{ range .Site.Languages -}}
    {{ if ne .LanguageName $curLanguageName }}
    <div class="lang-switch col-xs-3 col-xs-offset-9">
        <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
    </div>
    {{ end }}
    {{ end }}
</div>
<div class="header-line"></div>

<!-- Put quote wrapper as a div so that you can click anywhere to re-randomize
the quote -->
<div id="quote-wrapper" style="cursor: pointer; user-select: none">
    <strong>
        <span id="quote"></span>
    </strong>
</div>


<script module>// From https://kliu.io/

// Add sentences to const below:
    
    const quotes = [
        "Pratice Makes Perfect"
    ];


    const el = document.getElementById("quote");

    function randomize() {
        const index = Math.floor(Math.random() * quotes.length);
        el.innerHTML = quotes[index];
    }

    document.getElementById("quote-wrapper").addEventListener("click", randomize);
    randomize();

</script>


